:root{
  --color-primary:#E9D5CA ;
  --color-secundary: #827397;
  --color-terciary: #4D4C7D;
  --color-cuaternary: #363062;

}
#root{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin: 2rem 0;
 
}
.App {
  
  box-shadow: 14px 17px 60px 0px rgba(64,61,64,1);
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  padding: 3rem;
  background: rgb(178,174,211);
  background: linear-gradient(90deg, rgba(178,174,211,1) 35%, rgb(231, 223, 223) 100%);
}
.titulo__form{
  text-align: center;
  color: var(--color-cuaternary);
}
.form__conteiner{
  background-color: var(--color-primary);
  padding: 3rem 2rem;
 
}
input{
  padding: 1rem 2rem;
  margin: .3rem;
  border-radius: 20px;
  border: none;
}
.result__conteiner{
 margin-top: 4rem;
 background-color: var(--color-terciary);
 color: white;
 padding: 2rem;
}
.datos{
  max-width: 400px;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}

.image{
  border-radius: 180px;
  margin: 1rem;
}
.image__conteiner{
  max-width: 700px;
  align-items: center;
  margin: 0 auto;
  padding: 4rem;
}

@media (min-width: 1000px){
  .App{
    display: flex;
    justify-content: space-between;
  }
  .form__conteiner{
    margin-top: 4rem;
  }
  .result__conteiner{
    max-width: 300px;
  }
}